<h1>{{title}}</h1>
<button (click)="newMeal()" class="btn btn-md btn-primary">Add New Meal</button>
<app-new-meal [addingMeal]="addingMeal" (newMealSender)="saveMeal($event)"></app-new-meal>
<app-edit-meal [selectedMeal]="selectedMeal" (editedMealSender)="saveChanges($event)"></app-edit-meal>
<hr>
<div id="filter">
  <div class="form-group">
    <label>Filter by calories(default searches by less than input)</label>
  </div>
  <div class="btn-group form-group">
    <button (click)="filterMeals(true)" [class]="filteringBy(true)"> < </button>
    <button (click)="filterMeals(false)" [class]="filteringBy(false)"> > </button>
  </div>
  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="calorieNum" placeholder="Calories" class="form-control">
</div>
<hr>
<div class="well" *ngFor="let meal of meals | filter:calorieNum:calorieFilter">
  <div class="btn-group">
    <button class="btn btn-xs btn-warning" (click)="editingMeal(meal)" >Edit</button>
    <button class="btn btn-xs btn-danger" (click)="deleteMeal(meal)">Delete</button>
  </div>
  <h3>{{meal.name}}</h3>
  <p>{{meal.details}}</p>
  <h5>Calories: {{meal.calories}}</h5>
  <h6>Tracked: {{meal.displayTime}}</h6>
</div>
