<div [class]="divClass" *ngIf="addingMeal">
  <form>
    <div class="form-group">
      <label>Meal:</label>
      <input #newName >
    </div>
    <div class="form-group">
      <label>Description/note:</label>
      <input #newDetails >
    </div>
    <div class="form-group">
      <label>Calories:</label>
      <input #newCalories (keyup)="updateClass(newCalories.value)">
    </div>

    <button (click)="trackMeal(newName.value, newDetails.value, newCalories.value)" class="btn btn-md btn-default">Add</button>
  </form>
</div>
