<div *ngIf="selectedMeal">
  <form>
    <div class="form-group">
      <label>Meal:</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedMeal.name">
    </div>
    <div class="form-group">
      <label>Description/note:</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedMeal.details" >
    </div>
    <div class="form-group">
      <label>Calories:</label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedMeal.calories" >
    </div>

    <button (click)="trackMeal(selectedMeal)">Save Changes</button>
  </form>
</div>
